* {
    padding: 0;
    margin: 0;
}

.Heading p {
    padding-left: 10%;
    padding-top: 10%;
    color: #800606;
    text-decoration: underline;
    font-size: x-large;
}
.Data {
    padding-left: 10%;
    padding-top: 5%;
    color: #800606;
}
