ul {

    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: #fd2e2e;
    height: 100%; /* Full height */
    text-align: center;
    color:#fff2f2;
    display: flex;
    flex-direction: column;
    
  }
  
  li {
    float: left;
    padding: 1em;
    padding-left:2em;
    padding-right:2em;
    text-align:center;
    color:"#fff2f2";
    width:fit-content;
    margin:auto;
    margin-top: 2em;  
    font-size: 1.15em;
    font-weight: 900;
    
  }
  

  
  /* Change the link color to #111 (black) on hover */
  li :hover {
    background-color: #FFA82E;
  }