ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFA82E;
    border-radius: 12px;
  }
  
  li {
    float: left;
    padding: 10px;
    padding-left:50px;
  }
  

  
  /* Change the link color to #111 (black) on hover */
  li :hover {
    background-color: #FFA82E;
  }

  table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    background-color: #FFA82E;
    height:80px;
}

td {
     background-color: #FFF2F2;
     height:40px;
}